header {
  padding-top: 100px;
}
.steps-block {
  margin-bottom: 30px;
}
.text-red {
  color: red !important;
}
.section-block .page-container {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.section-block .section-block-title {
  font-size: 16px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #006384;
  font-weight: 800;
  margin-bottom: 15px;
}
.progressbar {
  counter-reset: step;
}
.progressbar li {
  list-style-type: none;
  width: 25%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}
.progressbar li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 30px;
  border: 3px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}
.progressbar li:after {
  width: 100%;
  height: 3px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: #00afea;
}
.progressbar li.active::before {
  border-color: #00afea;
}
.progressbar li.active + li::after {
  background-color: #00afea;
}
.order-table table {
  width: 100%;
  margin-bottom: 15px;
}
.order-table table a,
.order-table table a:focus {
  color: #006cff;
  text-decoration: none;
}
.order-table table thead th {
  font-weight: 700;
  text-align: center;
  background-color: #efefef;
}
.order-table table tbody td,
.order-table table thead th {
  padding: 10px;
  border: 1px solid #ddd;
  vertical-align: middle;
}
.order-table table tbody .product-info .img {
  float: left;
  width: 80px;
  text-align: center;
}
.order-table table tbody .product-info .img img {
  max-width: 80px;
  max-height: 100px;
  border: 1px solid #eaeaea;
}
.order-table table tbody .product-info .info-wrap {
  min-height: 80px;
}
.order-table table tbody .product-info .info-wrap .title {
  vertical-align: middle;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 5px;
  font-weight: 700;
}
.order-table table tbody .product-price {
  font-size: large;
}
.order-table table tbody .tool {
  text-align: center;
}
.order-table table tbody .tool .btn-default:hover {
  background: #b11e22;
  border-color: #b11e22;
  color: white;
}
.order-table table tfoot td {
  padding: 5px 10px;
  border: 1px solid #ddd;
  text-align: right;
  vertical-align: middle;
}
.order-table table tfoot td label {
  margin-bottom: 0;
  line-height: 22px;
}
.order-table table tfoot td:last-child {
  text-align: left;
  font-size: large;
}
.order-table table tfoot td .amount {
  font-size: 22px;
  color: #f36f21;
}
.order-table .price,
.order-table .order {
  text-align: center;
}
.discount {
  padding: 15px;
  border: 1px solid #cccccc;
}
ul.list-benefits li {
  padding: 4px 0 4px 32px;
  margin-bottom: .75em;
  font-weight: 600;
  line-height: 1.4;
  position: relative;
}
ul.list-benefits li::before {
  text-align: center;
  line-height: 27px;
  content: "\f00d";
  color: #0c0c0c;
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 27px;
}
ul.list-benefits li.active::before {
  content: "\f00c";
  color: #1de717;
}
.form-control-1 {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0 10px;
  background: #fff;
  outline: 0;
}
.label-1 {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
}
.label-1 i {
  margin-right: 5px;
}
.is_disabled {
  opacity: .3;
  pointer-events: none;
}
@media (min-width: 768px) {
  .product-info .img {
    float: left;
    width: 80px;
    text-align: center;
  }
  .product-info .img img {
    max-width: 80px;
    max-height: 100px;
    border: 1px solid #eaeaea;
  }
  .product-info .info-wrap {
    min-height: 80px;
    padding-left: 95px;
  }
  .product-info .info-wrap .title {
    vertical-align: middle;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 5px;
    font-weight: 700;
  }
}
.payment-wrap {
  margin: 0 0 15px 0;
  border: 1px solid #ddd;
}
.payment-content {
  display: table;
  width: 100%;
  border: 1px solid #ddd;
}
.control {
  display: table-cell;
  vertical-align: top;
  padding: 0 0 30px 0;
}
.control .control-tab {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}
.control .control-tab a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}
.control .control-tab a.active .indicator {
  background: #00afea;
  color: #fff;
}
.control .control-tab a.active .indicator:before {
  content: "";
  position: absolute;
  top: 0;
  right: -29px;
  width: 0;
  z-index: 2;
  height: 0;
  border-style: solid;
  border-width: 50px 0 50px 30px;
  border-color: transparent transparent transparent #00afea;
}
.control .control-tab .indicator {
  width: 100%;
  display: table;
  height: 100px;
  cursor: pointer;
}
.control .control-tab .indicator .icon {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background: url(../img/bg-shadow-payment.png) center right no-repeat;
}
.control .control-tab .indicator .icon img {
  max-width: 36px;
  margin: 0 auto;
}
.control .control-tab .indicator .title {
  vertical-align: middle;
  padding: 0 15px;
  display: none;
}
.control .control-tab .indicator .desc {
  display: none;
}
@media (min-width: 768px) {
  .control .control-tab .indicator .title {
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px;
  }
  .control .control-tab .indicator .icon {
    width: 71px;
  }
}
.payment-type-content {
  display: table-cell;
  padding-left: 0;
}
.payment-type-content .col-head {
  background: #eff9fd;
  display: table;
  width: 100%;
  min-height: 100px;
}
.payment-type-content .col-head .tb-cell {
  display: table-cell;
  vertical-align: middle;
  padding: 30px 40px;
  min-height: 100px;
}
.payment-type-content .col-main {
  padding: 30px 40px 0;
}
.order-finish-block .block-head {
  text-align: center;
  margin-bottom: 30px;
}
.order-finish-block .block-head .block-title {
  color: #2c931d;
  font-size: 24px;
  line-height: 30px;
}
.order-finish-block .block-main {
  min-height: 223px;
  margin-bottom: 30px;
}
.order-finish-block .block-main .btn-wrap .btn {
  line-height: 38px;
  font-weight: 600;
  font-size: 13px;
  margin-right: 10px;
  padding: 0 30px;
  text-transform: none;
}
.order-finish-block .block-main .btn-wrap .btn.btn-outline-danger {
  background: 0 0;
  color: #333;
  border-color: #b11e22;
}
