@blue-color: #00afea;
@block-title: darken(@blue-color, 20%);
@bg-head-table: #efefef;
@hover-btn-color: #b11e22;
header {
  padding-top: 100px;
}

.steps-block {
  margin-bottom: 30px;
}
.text-red {
  color: red !important;
}

.section-block {

  .page-container {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .section-block-title {
    font-size: 16px;
    line-height: 1.4;
    text-transform: uppercase;
    color: @block-title;
    font-weight: 800;
    margin-bottom: 15px;
  }
}

.progressbar {
  counter-reset: step;

  li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;

    &:before {
      width: 30px;
      height: 30px;
      content: counter(step);
      counter-increment: step;
      line-height: 30px;
      border: 3px solid #7d7d7d;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: white;
    }
    &:after {
      width: 100%;
      height: 3px;
      content: '';
      position: absolute;
      background-color: #7d7d7d;
      top: 15px;
      left: -50%;
      z-index: -1;
    }
    &:first-child:after {
      content: none;
    }
    &.active {
      color: @blue-color;

      &::before {
        border-color: @blue-color;
      }
      & + li::after {
        background-color: @blue-color;
      }

    }
  }

}

.order-table {

  table {
    width: 100%;
    margin-bottom: 15px;
    a, a:focus {
      color: #006cff;
      text-decoration: none;
    }

    thead {
      th {
        font-weight: 700;
        text-align: center;
        background-color: @bg-head-table;
      }
    }
    tbody td, thead th {
      padding: 10px;
      border: 1px solid #ddd;
      vertical-align: middle;
    }
    tbody {
      .product-info {
        .img {
          float: left;
          width: 80px;
          text-align: center;
          img {
            max-width: 80px;
            max-height: 100px;
            border: 1px solid #eaeaea;
          }
        }
        .info-wrap {
          min-height: 80px;
          .title {
            vertical-align: middle;
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 5px;
            font-weight: 700;
          }

        }

      }
      .product-price {
        font-size: large;
      }
      .tool {
        text-align: center;
        .btn-default:hover {
          background: @hover-btn-color;
          border-color: @hover-btn-color;
          color: white;
        }
      }

    }
    tfoot {
      td {
        padding: 5px 10px;
        border: 1px solid #ddd;
        text-align: right;
        vertical-align: middle;
        label {
          margin-bottom: 0;
          line-height: 22px;
        }

        &:last-child {
          text-align: left;
          font-size: large;
        }
        .amount{
          font-size: 22px;
          color: #f36f21;
        }
      }
    }
  }
  .price, .order {
    text-align: center;
  }

}
.discount{
  padding: 15px;
  border: 1px solid #cccccc;
}
ul.list-benefits {
  li{
    padding: 4px 0 4px 32px;
    margin-bottom: .75em;
    font-weight: 600;
    line-height: 1.4;
    position: relative;

    &::before{
      text-align: center;
      line-height:27px;
      content: "\f00d";
      color: #0c0c0c;
      font-family: FontAwesome;
      position: absolute;
      top:0;
      left:0;
      width: 27px;
      height:27px;
    }
    &.active::before{
      content: "\f00c";
      color: #1de717;
    }


  }


 }

.form-control-1{
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0 10px;
  background: #fff;
  outline: 0;
}
.label-1{
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  i{
    margin-right: 5px;
  }
}
.is_disabled{
  opacity: .3;
  pointer-events: none;
  input,textarea{
  }
}

@media (min-width: 768px) {
  .product-info {
    .img {
      float: left;
      width: 80px;
      text-align: center;
      img {
        max-width: 80px;
        max-height: 100px;
        border: 1px solid #eaeaea;
      }
    }
    .info-wrap {
      min-height: 80px;
      padding-left: 95px;
      .title {
        vertical-align: middle;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 5px;
        font-weight: 700;
      }

    }

  }
}

.payment-wrap{
  margin: 0 0 15px 0;
  border: 1px solid #ddd;
}
.payment-content{
  display: table;
  width: 100%;
  border: 1px solid #ddd;
}

.control{
  display: table-cell;
  vertical-align: top;
 padding: 0 0 0 0;

  .control-tab{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    a{
      text-decoration: none;
      font-size: 15px;
      font-weight: 500;
    }
    a.active .indicator{
      background: @blue-color;
      color: #fff;
      &:before{
        content: "";
        position: absolute;
        top: 0;
        right: -29px;
        width: 0;
        z-index: 2;
        height: 0;
        border-style: solid;
        border-width: 50px 0 50px 30px;
        border-color: transparent transparent transparent @blue-color;
      }
    }


    .indicator{
      width: 100%;
      display: table;
      height: 100px;
      cursor: pointer;
      &:first-child{
      }
      .icon{
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        background: url(../img/bg-shadow-payment.png) center right no-repeat;
        img{
          max-width: 36px;
          margin: 0 auto;
        }
      }
      .title{

        vertical-align: middle;
        padding: 0 15px;
        display: none;
      }
      .desc{
        display: none;
      }
    }

  }
}
@media (min-width: 768px) {
  .control .control-tab .indicator .title {
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px;
  }
  .control .control-tab .indicator .icon{
    width: 71px;
  }

}

.payment-type-content{
  display: table-cell;
  padding-left: 0;
  border-left: solid 1px #ddd;
  min-height: 300px;
  .col-head{
    background: #eff9fd;
    display: table;
    width: 100%;
    min-height: 100px;
    .tb-cell{
      display: table-cell;
      vertical-align: middle;
      padding: 30px 40px;
      min-height: 100px;
    }
  }
  .col-main{
    padding: 30px 40px 0;
  }


}

.order-finish-block{
  .block-head{
    text-align: center;
    margin-bottom: 30px;
    .block-title{
      color: #2c931d;
      font-size: 24px;
      line-height: 30px;
    }

  }
  .block-main{
    min-height: 223px;
    margin-bottom: 30px;
    .btn-wrap{
      .btn{
        line-height: 38px;
        font-weight: 600;
        font-size: 13px;
        margin-right: 10px;
        padding: 0 30px;
        text-transform: none;
        &.btn-outline-danger{
          background: 0 0;
          color: #333;
          border-color: #b11e22;
        }

      }
    }
  }
}